<div class="text-section">
  <div class="fancy-txt h5">Portfolio Website</div>
  <h6>
    <button type="button" class="btn-time" disabled><i class="fa fa-calendar"></i> Oct 2022 - Present</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> Angular</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> C#</button>
    <button type="button" class="btn-code" style="margin-right:5px" disabled><i class="fa fa-wrench"></i> AWS</button>
    <a href="https://github.com/chaydotgit/PersonalWebsite" class="btn-repo" target="_blank"><i class="fa fa-github"></i> Git Repo</a>
  </h6>
  <ul>
    <li>
      First time web development project in Angular for the purpose of learning the basics of front-end programming
    </li>
    <li>
      Researched and followed responsive, mobile-first web design practices using the Bootstrap framework when creating the web app
    </li>
    <li>Learned how to host Angular apps on AWS Amplify, where it currently resides</li>
    <li>
      Created a ASP.NET Core API deployed on AWS that the website makes a call to and fetches contact information from.
    </li>
  </ul>

  <div class="fancy-txt h5">Discord Bot</div>
  <h6>
    <button type="button" class="btn-time" disabled><i class="fa fa-calendar"></i> June 2020 - Present</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> Node.js</button>
    <button type="button" class="btn-code" style="margin-right:5px" disabled><i class="fa fa-wrench"></i> Discord.js</button>
    <a href="https://github.com/chaydotgit/Chroma-Bot" class="btn-repo" target="_blank"><i class="fa fa-github"></i> Git Repo</a>
  </h6>
  <ul>
    <li>Personal Discord bot made in order to learn JavaScript as well as experience working with a multitude of different APIs.
    <li>
      Implemented multiple capabilities such as member role selection, playing YouTube audio through voice channels with the
      ytdl-core API, and listing information about anime through Jikan MAL API.
    </li>
    <li>Constantly iterated on user feedback for better features or debugging any problems that arose during server use.</li>
    <li>Deployed in the cloud on a AWS EC2 instance so that the bot may be available at all times.</li>
  </ul>

  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/images/discbot1.png" class="slide-img d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <div class="text">List of Commands</div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/discbot2.png" class="slide-img d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <div class="text">MyAnimeList Search</div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/discbot3.png" class="slide-img d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <div class="text">Color Changer</div>
      </div>
    </ng-template>
  </ngb-carousel>

  <br>
  <div class="fancy-txt h5">AI Development, Bug Fixing, and Animation Implementation in Video Game Development Project</div>
  <h6>
    <button type="button" class="btn-time" disabled><i class="fa fa-calendar"></i> Oct 2020 - Dec 2020</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> Unity</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> C#</button>
  </h6>
  <ul>
    <li>Group video game development project of a 2D platformer game with unique health mechanics.</li>
    <li>Implemented enemy AI using an A* Pathfinding package, as well as optimized the enemies’ damage, speed, and placement throughout the level.</li>
    <li>Implemented character sprites and animations.</li>
    <li>Iteratively made changes and fixed bugs based on players’ feedback.</li>
    <li>Worked collaboratively with 5 others using Git, and was the main source of help when merge conflicts occurred.</li>
  </ul>
  <div class="youtube-player">
    <div>
      <iframe src="https://www.youtube.com/embed/WUB3EefS9Lc" title="Transfusion Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <br>
  <div class="fancy-txt h5">Crux Compiler</div>
  <h6>
    <button type="button" class="btn-time" disabled><i class="fa fa-calendar"></i> Apr 2021 - June 2021</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> Java</button>
  </h6>
  <ul>
    <li>Built a simple compiler that translates the Crux programming language into executable x86 assembly.</li>
    <li>Utilized ANTLR to generate a parser for the specified Crux grammar to create a parse tree that is used to create an Abstract Syntax Tree (AST).</li>
    <li>Implemented a compile time type checker to catch any possible type errors.</li>
    <li>Expanded my knowledge of the compiler pipeline from code to assembly and the possible inefficiencies that may stem from programmer oversight</li>
  </ul>


  <div class="fancy-txt h5">Charting UI and Message Analysis for Stock Trading Bot</div>
  <h6>
    <button type="button" class="btn-time" disabled><i class="fa fa-calendar"></i> July 2020</button>
    <button type="button" class="btn-code" disabled><i class="fa fa-wrench"></i> Python</button>
  </h6>
  <ul>
    <li>Took part along with 3 others in the development of a bot that uses Robinhood's / TD Ameritrade's API to trade stocks based on announcements from a Discord server.</li>
    <li>Worked with Finplot and Pandas packages to generate stock charts within a set period of time based on Yahoo stock data that marked where the bot had bought and sold.</li>
    <li>Implemented heuristic regex parsing of Discord messages to mark what messages were important and which were alerts to buy and sell certain stocks.</li>
    <li>Created unit tests for the bot in order to verify that the bot was categorizing messages correctly, and made changes to message parsing if the bot had unexpected output.</li>
  </ul>
</div>
