ul {
  list-style-type: circle;
}

.fancy-txt {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
}

.text {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

ngb-carousel {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.youtube-player {
  margin: auto;
  max-width: 600px;
}

.youtube-player > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-time {
  background: #2f7994;
  color: white;
  border-color: #2f7994;
  border-radius: 8px;
  border-style: solid;
  padding: 5px;
  margin-right: 10px;
}
.btn-code {
  background: white;
  color: #2f7994;
  border-color: #2f7994;
  border-radius: 8px;
  border-style: solid;
  padding: 5px;
  margin-right: 2px;
}
