 /* You can add global styles to this file, and also import other style files */

html {
  font-size: 14px;
  /*position: relative;*/
  min-height: 100vh;
}

a:link, a:visited {
  color: #176177;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.text-section {
 margin: 10px 30px 20px;
}

@media screen and (min-width: 600px) {
 .text-section {
   margin: 10px 75px 20px;
 }
}

@media screen and (min-width: 1280px) {
 .text-section {
   margin: 10px 200px 20px;
 }
}

footer {
  bottom: 0;
  padding: 10px;
  width: 100%;
}

.lds-ellipsis {
 display: inline-block;
 position: relative;
 width: 80px;
 height: 60px;
}
.lds-ellipsis div {
 position: absolute;
 top: 33px;
 width: 13px;
 height: 13px;
 border-radius: 50%;
 background: black;
 animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
 left: 8px;
 animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
 left: 8px;
 animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
 left: 32px;
 animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
 left: 56px;
 animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
 0% {
   transform: scale(0);
 }
 100% {
   transform: scale(1);
 }
}
@keyframes lds-ellipsis3 {
 0% {
   transform: scale(1);
 }
 100% {
   transform: scale(0);
 }
}
@keyframes lds-ellipsis2 {
 0% {
   transform: translate(0, 0);
 }
 100% {
   transform: translate(24px, 0);
 }
}
