<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="home-outer" class="content flex-grow-1" fxLayout="column" fxLayout.gt-xs="row">
  <div class="sidenav flex-grow-1" fxFlex.gt-xs="40" fxFlex.gt-md="25">
    <h2>Chayanne<br />Rodriguez</h2>
    <p>
      Junior Software Developer<br />
      <i class="fa fa-map-marker"></i>Irvine, CA
    </p>
    <img class="profile-pic" src="./assets/images/ProfilePicture.jpg"/>
    <p></p>
    <p><b>Skills</b><br />Python, Java, C#, C++, SQL, NoSQL, C, Angular, Javascript, Node.js</p>
    <p><b>Tools</b><br />VS Code, Visual Studio, Pycharm, IntelliJ, Git, MongoDB, Cassandra, Neo4, PuTTY, Vim, AWS</p>
    <p><b>Education</b><br>University of California, Irvine<br>B.S. in Computer Science</p>
    <p>
      <a href="https://drive.google.com/file/d/1MEQFmIOQL5J_TnoXdVcm-ci57-Gi74dd/view?usp=sharing" target="_blank" class="button">Resume</a>
      <br>
      <a href="https://www.linkedin.com/in/chayanne-rodriguez-44783a183/" class="fa fa-linkedin"></a>
      <a href="https://github.com/chaydotgit" class="fa fa-github"></a>
      <a href="https://www.instagram.com/chayanne.png/" class="fa fa-instagram"></a>
    </p>
  </div>

  <div class="text-section flex-grow-1" fxFlex.gt-xs="60" fxFlex.gt-md="75">
    <div class="main">
      <h1>Welcome</h1>
      <p>I am a Computer Science graduate from UC Irvine who takes pride in the quality of my code
        and strives to leave work better than when I found it. I am a detail-oriented backend programmer who enjoys problem solving
        and creating projects that will ultimately make people's lives easier.
      </p>
      <p>
        I am also dipping my toes into front-end programming by creating this website. It is still a work in progress and I have
        much to learn. Until it's finished, feel free to look around and check my progress! You can find my projects and links to
        my other websites in the navigation bar above!
      </p>
    </div>
  </div>
</div>
