.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 30px 30px;
}

.sidenav {
  flex: .5;
  text-align: center;
  border-radius: 9px;
  background-color: #f6f2ec;
  padding: 20px 2%;
}

.profile-pic {
  border-radius: 9px;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px;
}

.home-text {
  flex: 1;
  padding: 20px;
  border-radius: 9px;
  text-align: justify;
  background-color: #f6f2ec;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  gap: 30px;
  justify-content: center;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li::marker {
  content: "+ ";
  color: #afc47d;
  font-weight: bolder;
}

.button {
  background-color: #afc47d; /* Green */
  border: none;
  border-radius: 5px;
  color: white !important;
  padding: 8px 51px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  opacity: 0.7;
  color: #afc47d;
}

.fa {
  padding: 10px;
  font-size: 25px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}

.fa:hover {
  opacity: 0.7;
  color: #afc47d;
}

.fa-linkedin {
  background: #afc47d;
  color: white !important;
}

.fa-github {
  background: #afc47d;
  color: white !important;
}

.fa-instagram {
  background: #afc47d;
  color: white !important;
}

.fa-map-marker {
  color: #afc47d !important;
  font-size: 18px !important;
  padding: 0px;
  margin-top: 0px;
  width: 20px;
}

@media screen and (min-width: 800px) {
  .sidenav {
    margin-bottom: auto;
  }
  .home {
    flex-direction: row;
    margin: 30px 50px 30px;
    gap: 40px;
  }
  .social-links {
    justify-content: left;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    flex-direction: row;
    margin: 30px 200px 30px;
    gap: 50px;
  }
  .sidenav {
    flex: 1;
  }
  .home-text {
    flex: 2;
  }
}
