.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 30px 30px;
}

.sidenav {
  flex: .5;
  text-align: center;
  margin: auto auto 20px;
  border-radius: 9px;
  background-color: #f6f2ec;
  padding: 20px 2%;

}

.profile-pic {
  border-radius: 9px;
  height: 200px;
  width: 200px;
  margin: auto;
}

.home-text {
  flex: 1;
  padding: 20px;
  margin: auto;
  border-radius: 9px;
  text-align: justify;
  background-color: #f6f2ec;
}

.button {
  background-color: #afc47d; /* Green */
  border: none;
  border-radius: 5px;
  color: white !important;
  padding: 8px 51px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  opacity: 0.7;
  color: #afc47d;
}

.fa {
  padding: 10px;
  font-size: 25px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 2px;
}

.fa:hover {
  opacity: 0.7;
  color: #afc47d;
}

.fa-linkedin {
  background: #afc47d;
  color: white !important;
}

.fa-github {
  background: #afc47d;
  color: white !important;
}

.fa-instagram {
  background: #afc47d;
  color: white !important;
}

.fa-map-marker {
  color: #afc47d !important;
  font-size: 18px !important;
  padding: 0px;
  margin-top: 0px;
  width: 20px;
}


@media screen and (min-width: 800px) {
  .home {
    flex-direction: row;
    justify-content: space-around;
  }
  .sidenav {
    flex: 1;
  }
  .home-text {
    flex: 2;
  }
}
