<style>
  .sidenav {
    text-align: center;
    width: 400px;
    position: fixed;
    z-index: -1;
    top: 50px;
    bottom: 60px;
    left: 0;
    background-color: #abc9bd;
    overflow-x: hidden;
    padding: 20px;
  }

  .main {
    text-align: left;
    margin-left: 400px;
    padding: 0px;
  }

  .fa {
    padding: 10px;
    font-size: 25px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
  }

  .fa:hover {
    opacity: 0.7;
    color: #3d5c4f;
  }

  .fa-linkedin {
    background: #73998a;
    color: white !important;
  }

  .fa-github {
    background: #73998a;
    color: white !important;
  }

  .fa-map-marker {
    color: #73998a !important;
    font-size: 18px !important;
    padding: 0px;
    margin-top: 0px;
    width: 20px;
  }

  .button {
    background-color: #73998a; /* Green */
    border: none;
    color: white !important;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .button:hover {
    opacity: 0.7;
    color: #3d5c4f;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidenav">
  <h2>Chayanne<br />Rodriguez</h2>
  <p>
    Junior Software Developer<br />
    <i class="fa fa-map-marker"></i>Irvine, CA
  </p>
  <img src="./assets/images/ProfilePicture.jpg" width="200" height="200" />
  <p></p>
  <p><b>Skills</b><br />Python, Java, C#, C++, SQL, NoSQL, C, Javascript, Node.js</p>
  <p><b>Tools</b><br />VS Code, Visual Studio, Pycharm, IntelliJ, Git, MongoDB, Cassandra, Neo4, PuTTY, Vim, AWS</p>
  <p>
    <a href="https://drive.google.com/file/d/1MEQFmIOQL5J_TnoXdVcm-ci57-Gi74dd/view?usp=sharing" class="button">Resume</a>
    <br />
    <a href="https://www.linkedin.com/in/chayanne-rodriguez-44783a183/" class="fa fa-linkedin"></a>
    <a href="https://github.com/Chromanoiz" class="fa fa-github"></a>
  </p>
</div>

<div class="main">
  <h1>Welcome</h1>
  <p>I am a Computer Science graduate from UC Irvine who takes pride in the quality of my code
    and strives to leave work better than when I found it. I am a detail-oriented backend programmer who enjoys problem solving
    and creating projects that will ultimately make people's lives easier.
  </p>
  <p>
    I am also dipping my toes into front-end programming by creating this website. It is still a work in progress and I have
    much to learn. Until it's finished, feel free to look around and check my progress! You can find my projects and links to
    my other websites in the navigation bar above!
  </p>
</div>
