<div id="home-outer" class="content flex-grow-1" fxLayout="column" fxLayout.gt-xs="row">
  <div class="sidenav flex-grow-1" fxFlex.gt-xs="40" fxFlex.gt-md="25" style="color:white">
    <div class="fancy-txt h2">Chayanne<br />Rodriguez</div>
    <p>
      Junior Software Developer<br />
      <i class="fa fa-map-marker"></i>Irvine, CA
    </p>
    <img class="profile-pic" src="./assets/images/ProfilePicture.jpg"/>
    <p></p>
    <div class="fancy-txt">Skills</div>Python, Java, C#, C++, SQL, NoSQL, C, Angular, Javascript, Node.js
    <p></p><div class="fancy-txt">Tools</div>VS Code, Visual Studio, Pycharm, IntelliJ, Git, MongoDB, Cassandra, Neo4, PuTTY, Vim, AWS
    <p></p><div class="fancy-txt">Education</div>University of California, Irvine<br>B.S. in Computer Science
    <p></p>
    <p>
      <a href="https://drive.google.com/file/d/1y0Vmekj4fXaM9vRcvEvK2mODjYExI8ka/view?usp=sharing" target="_blank" class="button fancy-txt">Resume</a>
      <br>
      <a href="https://www.linkedin.com/in/chayanne-rodriguez-44783a183/" class="fa fa-linkedin"></a>
      <a href="https://github.com/chaydotgit" class="fa fa-github"></a>
      <a href="https://www.instagram.com/chayanne.png/" class="fa fa-instagram"></a>
    </p>
  </div>

  <div class="text-section flex-grow-1" fxFlex.gt-xs="60" fxFlex.gt-md="75">
    <div class="main">
      <div class="fancy-txt h2">Welcome</div>
      <p>
        Thanks for stopping by my portfolio website! Here you can check out my projects through the navigation links above
        as well as my resume and social media on the sidebar. I am currently open for work opportunities as a junior software
        developer! If you are interested in me for any positions, you can find my email down below.
      </p>
      <div class="about">
        <div class="fancy-txt h3">&#123; About Me &#125;</div>
        <p>
          I am a graduate from University of California, Irvine with a Bachelor of Science degree in computer science.
          Throughout my studies, some of the courses I have taken mainly concerned algorithms, databases, and artificial
          intelligence. My interest in software development is rooted in my love for problem solving and creating projects
          that will help people and make their lives easier.
        </p>
        <p>
          Most recently, I have delved into front-end programming by creating this website using Angular and Bootstrap
          frameworks. As someone who appreciates intuitive and aesthetically pleasing user interfaces, I figured web development would
          be right up my alley as well as broaden my skills as a developer. I am loving the new languages and frameworks that I am
          learning, and am currently considering the ways in which I can incorporate my back-end experience into my project.
          I have a deep love for learning, and strongly believe that one can never stop learning no matter the amount of education or experience one has.
        </p>
        <p>
          As for my personal interests, I love delicious food and checking out new restaurants and cafes wherever I go! Along with that,
          I own a collection of houseplants, play video games in my free time, and go to drift events every once in a while.
          <ngb-carousel>
            <ng-template ngbSlide>
              <video width="100%" controls autoplay muted loop>
                <source src="./assets/images/plant.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
             </ng-template>
            <ng-template ngbSlide>
              <video width="100%" controls autoplay muted loop>
                <source src="./assets/images/food.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-template>
            <ng-template ngbSlide>
              <video width="100%" controls autoplay muted loop>
                <source src="./assets/images/drift.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-template>
          </ngb-carousel>
        </p>
      </div>
    </div>
  </div>
</div>
